{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>
    <a href="{{ path('post_index') }}" class="btn btn-primary pull-right" style="margin-bottom: 10px"> Back to the list</a>

    {% form_theme edit_form 'bootstrap_3_layout.html.twig'  %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    <!-- Delete -->
    {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger pull-right" value="Delete">
    {{ form_end(delete_form) }}
    <!-- End Delete -->
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            CKEDITOR.replace( 'appbundle_post[content]' );
        });
    </script>
{% endblock %}
