{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>
   <div>
       <a style="margin-bottom: 10px" class="btn pull-right btn-default" href="{{ path('post_index') }}">Back to the list</a>
       <a style="margin: 0px 10px 10px 0px" class="btn pull-right btn-primary" href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
   </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
        </tbody>
    </table>
    {{ form_start(delete_form) }}
        <input class="btn pull-right btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
